#h1f{
    position: relative;
    border: 10px;
    top: 65px;
    left: 100px;
    border-bottom-color: #FAFF00;
}
#footercol1{
    position: relative;
    left: 450px;
    top: 130px;
    font-size: 25px;


}
#footercol2{
    position: relative;
    left: 800px;
    top: -80px;
    font-size: 25px; 

    
}
#footercol3{
    position: relative;
    left: 320px;
    top: -210px;
}
#span{
    color: #FAFF00;
}
footer{
    background-color: black;
    opacity: 100%;
    color: beige;
    height: 500px;
}
.navbar{
    position: relative;
    left: 800px;
    color:white;
    font-size: 25px;
    height: 100px;
    width: auto;
}
#btn1{
    background-color: #FAFF00;
    height: 30px;
}
header{
    background-color: black;
    width: auto;
    height: 100px;
}
.mdn{
    background-color: black;
    width: auto;
    height: 100px;
}
.cdn{
    color: antiquewhite;
}
.cdn2{
    position: relative;
    color: antiquewhite;
    left: 1600px;
    top: -30px;
}