*{
    font-family: Poppins, Actor, Adamina;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
#section1{
    background-image: url(../images/moving-1.png);
    background-size: cover;
    height: 850px;
    width: auto;
    position: relative;
}
.h2{
    color: #FAFF00;
    font-size: 60px;
    position: relative;
    top: 160px;
    padding-right: 90px;
    padding-left: 20px;
}
.p1{
    font-size: 30px;
    position: relative;
    top: 200px;
    color: rgb(245, 245, 199);
    padding-left: 20px;
}
.navbar{
    position: relative;
    left: 800px;
    color:white;
    top: 120px;
    font-size: 25px;
}
.l1{
    padding-top: 0px;
    padding-left: 20px;
    padding-bottom: 0px;
    padding-right: 20px;
    color: black;
}
.l2{
    padding-top: 0px;
    padding-left: 20px;
    padding-bottom: 0px;
    padding-right: 20px;
    color: #FAFF00;
    
}
#btn1{
    background-color: #FAFF00;
    height: 30px;
}

#btn2{
    background-color: black;
    height: 30px;

}
.bar{
    padding-left: 30px;
    padding-right: 30px;
}
.section2{
    display: flex;
    flex-direction: row;
}
#img1{
    justify-content: left;
    float: left;
    height: 600px;
    width: auto;
    margin: 0px 50px 15px 20px;
    object-fit: cover;
    top: 500px;
    padding-left: -200px;
}
.btn1{
    background-color: black;
    color: #FAFF00;
    height: 50px;
    width: 150px;
    font-size: 20px;
}
.section2a{
    float: right;
    position: relative;
    top: -400px;
    right: 150px;
}
.row1{
position: relative;
}

footer{
    background-color: black;
    opacity: 100%;
    color: beige;
    height: 500px;
}
#h1f{
    position: relative;
    border: 10px;
    top: 65px;
    left: 100px;
    border-bottom-color: #FAFF00;
}
  
.row1:after {
    content: "";
    display: table;
    clear: both;
  }
.column1{
    column-gap: 40px;
  }
